# Introduction

## Dataset Overview

Deeds (Digital Electronic Education and Design Suite) (Ponta et al., 1998) is a simulation environment for e-learning in digital electronics. The environment provides learning materials through specialized browsers for the students, and asks them to solve various problems with different levels of difficulty. 

The EPM dataset was collected from University of Genoa by using Deeds, students are required to use Deeds to learn digital electronics which consists of 6 sessions. All the log data of students using Deeds system was collected during the process of learning: activities, time, mouse clicks and key strokes. At the end of each session, student will need to finish an assignment, and the grade of the assignment was recorded in the intermediate grade dataframe. In the end of the semester, final exam grades of all students was recorded in the final grades dataset.

In [1]:
import requests
import zipfile
import io
import os
import glob

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# Gathering Data

Download dataset:

In [4]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/00346/EPMDataset%20.zip'
r = requests.get(url)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall('../educational-process-mining')

Input all the sessions data:

In [2]:
# read all the session data and save them into a dictionary
sessions = {}
for x in range(1, 7):
    path = '../educational-process-mining/EPM Dataset 2/Data/Processes/Session {0}'.format(x)
    session = glob.glob(os.path.join(path, '*'))
    dataframes = (pd.read_csv(f, names=['session', 'student_Id', 'exercise', 'activity',
                                        'start_time', 'end_time', 'idle_time', 'mouse_wheel', 
                                        'mouse_wheel_click', 'mouse_click_left', 'mouse_click_right', 
                                        'mouse_movement', 'keystroke']) for f in session)
    sessions['session{0}'.format(x)] = pd.concat(dataframes, ignore_index=True, sort=False)

In [3]:
sessions['session1'].head()

,session,student_Id,exercise,activity,start_time,end_time,idle_time,mouse_wheel,mouse_wheel_click,mouse_click_left,mouse_click_right,mouse_movement,keystroke
0,1,59,Es,Other,2.10.2014 11:24:0,2.10.2014 11:24:3,421,0,0,2,0,106,0
1,1,59,Es,Deeds,2.10.2014 11:24:5,2.10.2014 11:25:42,4573639,0,0,2,0,107,0
2,1,59,Es,Blank,2.10.2014 11:25:43,2.10.2014 11:25:44,0,0,0,2,0,123,0
3,1,59,Es_1_1,Study_Es_1_1,2.10.2014 11:25:45,2.10.2014 11:26:46,1652751,0,0,2,0,107,0
4,1,59,Es_1_1,Deeds,2.10.2014 11:26:47,2.10.2014 11:26:47,0,0,0,2,0,18,0

In [4]:
sessions['session2'].head()

,session,student_Id,exercise,activity,start_time,end_time,idle_time,mouse_wheel,mouse_wheel_click,mouse_click_left,mouse_click_right,mouse_movement,keystroke
0,2,61,Es,Other,16.10.2014 11:55:13,16.10.2014 11:55:20,1607,0,0,2,0,350,0
1,2,61,Es,Aulaweb,16.10.2014 11:55:21,16.10.2014 11:55:26,94,7,0,8,0,334,0
2,2,61,Es_2_1,TextEditor_Es_2_1,16.10.2014 11:55:27,16.10.2014 11:55:31,217,3,0,8,0,210,6
3,2,61,Es_2_1,Study_Es_2_1,16.10.2014 11:55:32,16.10.2014 11:55:33,16,0,0,0,0,0,9
4,2,61,Es_2_1,Aulaweb,16.10.2014 11:55:34,16.10.2014 11:55:34,0,0,0,0,0,0,2

In [5]:
sessions['session6'].tail()

,session,student_Id,exercise,activity,start_time,end_time,idle_time,mouse_wheel,mouse_wheel_click,mouse_click_left,mouse_click_right,mouse_movement,keystroke
53165,6,25,Es_6_3,Study_Es_6_3,11.12.2014 14:23:23,11.12.2014 14:23:25,15,0,0,2,0,40,0
53166,6,25,Es_6_3,Other,11.12.2014 14:23:26,11.12.2014 14:23:29,157,0,0,2,0,160,0
53167,6,25,Es_6_3,Other,11.12.2014 14:23:30,11.12.2014 14:23:30,0,0,0,2,0,32,0
53168,6,25,Es_6_3,Other,11.12.2014 14:23:31,11.12.2014 14:23:32,0,0,0,3,0,77,0
53169,6,25,Es_6_3,Blank,11.12.2014 14:23:33,11.12.2014 14:23:34,0,0,0,1,0,79,0

Input log data:

In [6]:
logs = pd.read_csv('../educational-process-mining/EPM Dataset 2/Data/logs.txt', sep='\t')

In [7]:
logs.head()

,Student Id,Session 1,Session 2,Session 3,Session 4,Session 5,Session 6
0,1,1,1,0,1,1,1
1,2,1,1,1,1,1,1
2,3,0,1,1,1,1,0
3,4,1,1,1,1,1,1
4,5,1,1,1,1,1,1

Final grades data:

In [8]:
final_grades_1st = pd.read_excel('../educational-process-mining/EPM Dataset 2/Data/final_grades.xlsx', sheet_name='Exam (First time)')
final_grades_2nd = pd.read_excel('../educational-process-mining/EPM Dataset 2/Data/final_grades.xlsx', sheet_name='Exam (Second time)')

In [9]:
final_grades_1st.head()

,Student ID,ES 1.1 \n(2 points),ES 1.2 \n(3 points),ES 2.1\n(2 points),ES 2.2\n(3 points),ES 3.1\n(1 points),ES 3.2\n(2 points),ES 3.3\n(2 points),ES 3.4\n(2 points),ES 3.5\n(3 points),ES 4.1\n(15 points),ES 4.2\n(10 points),ES 5.1\n(2 points),ES 5.2\n(10 points),ES 5.3\n(3 points),ES 6.1\n(25 points),ES 6.2\n(15 points),TOTAL\n(100 points)
0,3,2.0,3,1.0,2.0,1,2,2,2.0,3.0,15.0,10.0,1,5.0,3.0,18.0,15,85.0
1,6,2.0,3,2.0,3.0,1,2,2,0.0,3.0,15.0,7.0,2,9.0,3.0,13.0,15,82.0
2,7,2.0,3,1.0,1.5,1,2,0,0.0,3.0,5.0,4.0,0,0.0,3.0,17.0,10,52.5
3,10,2.0,3,2.0,1.5,1,2,0,2.0,3.0,11.0,1.0,2,10.0,1.5,7.0,10,59.0
4,13,2.0,3,2.0,1.5,1,2,2,2.0,3.0,14.5,10.0,2,2.0,3.0,25.0,15,90.0

In [10]:
final_grades_2nd.head()

,Student ID,ES 1.1 \n(2 points),ES 1.2 \n(3 points),ES 2.1\n(2 points),ES 2.2\n(3 points),ES 3.1\n(1 points),ES 3.2\n(2 points),ES 3.3\n(2 points),ES 3.4\n(2 points),ES 3.5\n(3 points),ES 4.1\n(15 points),ES 4.2\n(10 points),ES 5.1\n(2 points),ES 5.2\n(10 points),ES 5.3\n(3 points),ES 6.1\n(25 points),ES 6.2\n(15 points),TOTAL\n(100 points)
0,1,2.0,3.0,1.0,0.5,1.0,2,2.0,2,3,15,10.0,2.0,10.0,3.0,25.0,13.0,94.5
1,2,2.0,3.0,2.0,0.5,1.0,2,0.0,2,3,15,2.0,0.0,5.0,1.5,5.0,0.0,44.0
2,4,2.0,3.0,1.0,0.5,1.0,2,0.0,2,0,3,4.0,0.0,1.5,0.0,5.0,5.0,30.0
3,5,2.0,3.0,2.0,1.5,1.0,2,2.0,2,3,3,2.0,1.5,9.0,1.5,2.0,1.0,38.5
4,7,2.0,3.0,1.0,1.5,1.0,2,2.0,2,3,15,10.0,1.0,2.5,0.0,20.0,12.0,78.0

Intermediate grades data:

In [111]:
inter_grades = pd.read_excel('../educational-process-mining/EPM Dataset 2/Data/intermediate_grades.xlsx')

In [112]:
inter_grades.head()

   Student Id  Session 2  Session 3  Session 4  Session 5  Session 6
0           1        5.0        0.0        4.5        4.0       2.25
1           2        4.0        3.5        4.5        4.0       1.00
2           3        3.5        3.5        4.5        4.0       0.00
3           4        6.0        4.0        5.0        3.5       2.75
4           5        5.0        4.0        5.0        4.0       2.75

# Accessing Data

There are some 0 scores in the intermediate grades dataset, and we know that the logs dataset marked all the student has log in a session with value 1, while those has not log in a session with value 0, so here comes the question: were all the students without log got a 0 score in the intermediate grades?

We can use the test below to check this question:

In [13]:
no_inter_grades = (inter_grades == 0)
no_inter_grades

     Student Id  Session 2  Session 3  Session 4  Session 5  Session 6
0         False      False       True      False      False      False
1         False      False      False      False      False      False
2         False      False      False      False      False       True
3         False      False      False      False      False      False
4         False      False      False      False      False      False
..          ...        ...        ...        ...        ...        ...
110       False      False       True       True      False       True
111       False       True       True       True       True       True
112       False       True       True       True       True       True
113       False       True       True       True       True       True
114       False       True       True       True       True       True

[115 rows x 6 columns]

In [14]:
no_log = (logs == 0)
no_log

,Student Id,Session 1,Session 2,Session 3,Session 4,Session 5,Session 6
0,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False
2,False,True,False,False,False,False,True
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
110,False,False,True,True,True,True,True
111,False,False,True,True,True,True,True
112,False,False,True,True,True,True,True
113,False,False,True,True,True,True,True
114,False,False,True,True,True,True,True

In [15]:
no_log.drop('Session 1', axis=1, inplace=True)

In [16]:
no_log

     Student Id  Session 2  Session 3  Session 4  Session 5  Session 6
0         False      False       True      False      False      False
1         False      False      False      False      False      False
2         False      False      False      False      False       True
3         False      False      False      False      False      False
4         False      False      False      False      False      False
..          ...        ...        ...        ...        ...        ...
110       False       True       True       True       True       True
111       False       True       True       True       True       True
112       False       True       True       True       True       True
113       False       True       True       True       True       True
114       False       True       True       True       True       True

[115 rows x 6 columns]

In [17]:
no_grade_contrast = (no_log != no_inter_grades)

In [18]:
no_grade_contrast.loc[no_grade_contrast['Session 2'] == True]

     Student Id  Session 2  Session 3  Session 4  Session 5  Session 6
26        False       True      False      False      False      False
34        False       True      False      False      False      False
54        False       True      False      False      False       True
59        False       True       True      False      False      False
60        False       True      False      False      False      False
65        False       True      False      False      False      False
67        False       True      False      False      False      False
88        False       True      False      False      False      False
106       False       True      False      False      False      False
110       False       True      False      False       True      False

All those True values means that not all the no log students get a zero score in intermediate grades. We can dig into those student Id to have a look of it.

In [19]:
se2_index = no_grade_contrast.loc[no_grade_contrast['Session 2'] == True].index

In [20]:
inter_grades.iloc[se2_index]

     Student Id  Session 2  Session 3  Session 4  Session 5  Session 6
26           27        0.0        3.0        4.5        4.0       1.75
34           35        0.5        0.5        3.5        3.5       1.50
54           55        2.0        3.5        4.5        4.0       2.50
59           60        2.0        0.5        4.0        3.5       1.00
60           61        0.0        1.0        4.5        3.5       1.50
65           66        0.0        2.0        4.5        3.0       2.25
67           68        5.5        3.5        5.0        4.0       3.00
88           89        0.5        1.5        3.5        2.5       0.50
106         107        0.0        1.0        0.0        0.0       0.00
110         111        3.0        0.0        0.0        3.0       0.00

In [21]:
logs.iloc[se2_index]

,Student Id,Session 1,Session 2,Session 3,Session 4,Session 5,Session 6
26,27,0,1,1,1,1,1
34,35,0,0,1,1,1,1
54,55,1,0,1,1,1,0
59,60,0,0,0,1,1,1
60,61,0,1,1,1,1,1
65,66,1,1,1,1,1,1
67,68,1,0,1,1,1,1
88,89,0,0,1,1,1,1
106,107,0,1,1,0,0,0
110,111,1,0,0,0,0,0

It is quite strange that student id 27 has log in session 2 but get a 0 score, while student id 35 has no log in session 2 but get a 0.5 score. 

If one of the students did not log in a session then that student would get a 0 score in the assignment of that session because that student did not even log into that session, he or she cannot finish the exercise in that DEEDS session. 

But the data breaks our hypothesis, we should now assume that assignments are independent from the Deeds system.

After the finding of this problem, we contacted the dataset author doctor Mehrnoosh Vahdat, she explained that the experiments and data collection was hold in parallel with the sessions trying to influence the normal learning processes as few as possible, but doctor Vahdat and her team cannot force all of the students attend all the sessions and record all the data, it could happen that the student was not in the session but still did his or her exercises with Deeds and submitted, or attended the session but did not really complete the exercises and did not submit anything at the end. 

**To make the analysis clear, we decided to use those students who attended in from session 2 to session 6.**

The final grades has 2 datasets: first exam and second exam, some student attend both exams, and the detail of both exams are different but addressed the same concepts. We can check who attended both exams:

In [22]:
attend_1st_id = np.asarray(final_grades_1st['Student ID'])
attend_2nd_id = np.asarray(final_grades_2nd['Student ID'])

In [23]:
def common_member(a, b):
    a_set = set(a)
    b_set = set(b)
    if (a_set & b_set):
        print(a_set & b_set)
    else:
        print('No common elements')

In [24]:
attend_both = common_member(attend_1st_id, attend_2nd_id)

{7, 20, 24, 30, 37, 39, 44, 46, 51, 56, 59, 62, 67, 68, 73, 83, 87, 92, 99, 101, 106}

**To solve this discrepancy, we decided to use the mean of two final grades as the final grades of those students.**

# Cleaning Data

As mentioned in the accessing data part, we decided to clean our data based on two points:

* **For clarity and reliability, we use those students who attended in from session 2 to session 6.**
* **Use the mean of the two final grades as the final grades of those students who took the final twice.**

Firstly, we keep the students who attended in all 6 sessions:

In [147]:
ID_list = logs.loc[(logs["Session 2"]==1) & (logs["Session 3"]==1) & \
                   (logs["Session 4"]==1) & (logs["Session 5"]==1) & (logs["Session 6"]==1)]
ID_list.head()

,Student Id,Session 1,Session 2,Session 3,Session 4,Session 5,Session 6
1,2,1,1,1,1,1,1
3,4,1,1,1,1,1,1
4,5,1,1,1,1,1,1
5,6,0,1,1,1,1,1
6,7,1,1,1,1,1,1

In [148]:
ID_list.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63 entries, 1 to 98
Data columns (total 7 columns):
Student Id    63 non-null int64
Session 1     63 non-null int64
Session 2     63 non-null int64
Session 3     63 non-null int64
Session 4     63 non-null int64
Session 5     63 non-null int64
Session 6     63 non-null int64
dtypes: int64(7)
memory usage: 3.9 KB

Now we clean the final grades dataset:

In [149]:
final = final_grades_1st.append(final_grades_2nd)
final.sort_values(by=['Student ID']).head()

,Student ID,ES 1.1 \n(2 points),ES 1.2 \n(3 points),ES 2.1\n(2 points),ES 2.2\n(3 points),ES 3.1\n(1 points),ES 3.2\n(2 points),ES 3.3\n(2 points),ES 3.4\n(2 points),ES 3.5\n(3 points),ES 4.1\n(15 points),ES 4.2\n(10 points),ES 5.1\n(2 points),ES 5.2\n(10 points),ES 5.3\n(3 points),ES 6.1\n(25 points),ES 6.2\n(15 points),TOTAL\n(100 points)
0,1,2.0,3.0,1.0,0.5,1.0,2,2.0,2.0,3.0,15.0,10.0,2.0,10.0,3.0,25.0,13.0,94.5
1,2,2.0,3.0,2.0,0.5,1.0,2,0.0,2.0,3.0,15.0,2.0,0.0,5.0,1.5,5.0,0.0,44.0
0,3,2.0,3.0,1.0,2.0,1.0,2,2.0,2.0,3.0,15.0,10.0,1.0,5.0,3.0,18.0,15.0,85.0
2,4,2.0,3.0,1.0,0.5,1.0,2,0.0,2.0,0.0,3.0,4.0,0.0,1.5,0.0,5.0,5.0,30.0
3,5,2.0,3.0,2.0,1.5,1.0,2,2.0,2.0,3.0,3.0,2.0,1.5,9.0,1.5,2.0,1.0,38.5

In [150]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114 entries, 0 to 61
Data columns (total 18 columns):
Student ID            114 non-null int64
ES 1.1
(2 points)    114 non-null float64
ES 1.2
(3 points)    114 non-null float64
ES 2.1
(2 points)     114 non-null float64
ES 2.2
(3 points)     114 non-null float64
ES 3.1
(1 points)     114 non-null float64
ES 3.2
(2 points)     114 non-null int64
ES 3.3
(2 points)     114 non-null float64
ES 3.4
(2 points)     114 non-null float64
ES 3.5
(3 points)     114 non-null float64
ES 4.1
(15 points)    114 non-null float64
ES 4.2
(10 points)    114 non-null float64
ES 5.1
(2 points)     114 non-null float64
ES 5.2
(10 points)    114 non-null float64
ES 5.3
(3 points)     114 non-null float64
ES 6.1
(25 points)    114 non-null float64
ES 6.2
(15 points)    114 non-null float64
TOTAL
(100 points)    114 non-null float64
dtypes: float64(16), int64(2)
memory usage: 16.9 KB

Calculate the mean of the final grades for those students who took the exam twice:

In [151]:
dup_rows = final[final['Student ID'].duplicated(keep=False)]

In [152]:
final.drop(dup_rows.index, axis=0, inplace=True)

In [153]:
avg_grades = dup_rows.groupby('Student ID').mean()
avg_grades.insert(0, column='Student ID', value=avg_grades.index)

In [154]:
final = final.append(avg_grades).sort_values(by=['Student ID'])

Subset with only those students who attended in all 6 sessions:

In [155]:
final = final[final['Student ID'].isin(ID_list['Student Id'])]
final

,Student ID,ES 1.1 \n(2 points),ES 1.2 \n(3 points),ES 2.1\n(2 points),ES 2.2\n(3 points),ES 3.1\n(1 points),ES 3.2\n(2 points),ES 3.3\n(2 points),ES 3.4\n(2 points),ES 3.5\n(3 points),ES 4.1\n(15 points),ES 4.2\n(10 points),ES 5.1\n(2 points),ES 5.2\n(10 points),ES 5.3\n(3 points),ES 6.1\n(25 points),ES 6.2\n(15 points),TOTAL\n(100 points)
1,2,2.00,3.0,2.00,0.50,1.0,2,0.0,2.0,3.00,15.00,2.0,0.00,5.00,1.50,5.00,0.00,44.00
3,5,2.00,3.0,2.00,1.50,1.0,2,2.0,2.0,3.00,3.00,2.0,1.50,9.00,1.50,2.00,1.00,38.50
1,6,2.00,3.0,2.00,3.00,1.0,2,2.0,0.0,3.00,15.00,7.0,2.00,9.00,3.00,13.00,15.00,82.00
7,7,2.00,3.0,1.00,1.50,1.0,2,1.0,1.0,3.00,10.00,7.0,0.50,1.25,1.50,18.50,11.00,65.25
3,10,2.00,3.0,2.00,1.50,1.0,2,0.0,2.0,3.00,11.00,1.0,2.00,10.00,1.50,7.00,10.00,59.00
7,11,2.00,3.0,1.00,0.50,1.0,2,2.0,2.0,3.00,12.00,3.0,2.00,8.00,1.50,12.00,5.00,60.00
8,12,2.00,3.0,0.50,2.00,1.0,2,0.0,2.0,3.00,15.00,2.0,0.50,5.50,2.00,0.00,0.00,40.50
5,15,2.00,3.0,1.00,2.00,1.0,2,2.0,2.0,3.00,15.00,10.0,2.00,4.00,1.50,2.00,15.00,67.50
6,16,2.00,3.0,1.00,0.00,1.0,2,2.0,2.0,3.00,3.00,9.0,1.00,0.00,3.00,20.00,15.00,67.00
7,17,2.00,3.0,1.00,2.00,1.0,2,2.0,2.0,3.00,15.00,10.0,2.00,10.00,3.00,24.00,15.00,97.00
8,18,1.00,3.0,2.00,3.00,1.0,2,2.0,2.0,3.00,15.00,7.0,2.00,2.50,1.50,5.00,10.00,62.00
20,20,2.00,3.0,2.00,1.50,1.0,2,2.0,2.0,2.25,15.00,10.0,1.00,4.00,3.00,15.00,12.25,78.00
24,24,2.00,3.0,1.00,1.00,1.0,2,2.0,2.0,3.00,13.00,2.5,1.00,5.00,3.00,7.50,2.50,51.50
12,28,2.00,3.0,1.00,2.00,1.0,2,2.0,2.0,0.00,15.00,8.5,2.00,4.00,3.00,19.00,13.00,79.50
30,30,1.00,1.5,2.00,1.00,0.5,1,1.0,1.0,1.50,7.50,5.0,0.50,2.50,0.75,2.00,2.50,31.25
16,36,2.00,3.0,1.00,0.00,1.0,1,0.0,2.0,3.00,13.00,9.0,2.00,10.00,3.00,16.00,13.00,79.00
19,38,2.00,3.0,2.00,0.50,1.0,2,2.0,2.0,3.00,15.00,4.0,1.00,2.50,1.50,0.00,0.00,41.50
39,39,2.00,3.0,1.50,0.00,0.5,0,0.0,2.0,0.00,9.00,7.0,1.00,4.00,1.25,17.00,14.00,62.25
19,41,2.00,3.0,2.00,3.00,1.0,2,2.0,2.0,3.00,13.00,10.0,2.00,10.00,3.00,25.00,15.00,98.00
44,44,2.00,3.0,1.50,2.50,1.0,2,2.0,2.0,3.00,9.00,8.5,1.00,7.50,3.00,14.00,11.75,73.75
51,51,1.50,1.5,0.25,0.00,1.0,2,1.0,1.0,0.00,0.00,0.5,0.00,0.00,0.00,0.00,0.00,8.75
28,52,2.00,2.0,2.00,0.00,1.0,2,0.0,0.0,0.00,4.00,2.0,0.00,0.00,3.00,8.00,10.00,36.00
29,54,2.00,3.0,1.00,1.50,1.0,2,0.0,2.0,3.00,15.00,2.0,0.00,5.00,1.50,0.00,0.00,39.00
56,56,2.00,3.0,2.00,2.50,1.0,2,2.0,1.0,1.50,15.00,10.0,1.50,7.00,2.25,16.50,8.50,77.75
59,59,1.00,3.0,2.00,0.00,0.5,2,1.0,2.0,1.50,3.00,5.0,1.50,5.25,1.50,2.50,3.00,34.75
36,61,1.50,1.5,2.00,2.00,1.0,2,0.0,2.0,3.00,15.00,4.0,0.50,3.00,1.00,19.00,0.00,57.50
29,66,2.00,3.0,2.00,3.00,1.0,2,2.0,2.0,3.00,15.00,10.0,2.00,8.00,3.00,18.00,10.00,86.00
67,67,2.00,3.0,0.75,1.00,1.0,2,2.0,2.0,3.00,14.75,10.0,2.00,7.50,3.00,19.75,12.50,86.25
42,70,2.00,3.0,2.00,2.00,1.0,2,2.0,2.0,3.00,15.00,8.5,1.00,0.00,0.00,12.00,5.00,60.50
32,72,2.00,3.0,2.00,2.00,1.0,2,2.0,2.0,3.00,15.00,7.0,2.00,10.00,3.00,24.00,15.00,95.00
35,76,2.00,3.0,2.00,1.50,1.0,2,2.0,2.0,2.00,15.00,10.0,2.00,10.00,3.00,24.00,12.00,93.50
36,78,2.00,3.0,1.00,2.00,1.0,2,2.0,2.0,3.00,15.00,4.0,0.00,5.00,1.50,24.50,10.00,78.00
47,79,2.00,3.0,1.00,1.50,0.5,2,2.0,2.0,3.00,13.00,4.0,1.00,9.00,1.50,25.00,14.00,84.50
49,82,2.00,3.0,1.00,0.50,1.0,2,0.0,0.0,0.00,2.00,2.0,0.00,0.00,0.00,0.00,0.00,13.50
83,83,2.00,3.0,2.00,0.25,1.0,1,1.0,2.0,0.00,5.00,4.0,1.25,5.50,0.75,11.50,3.50,43.75
87,87,2.00,3.0,1.25,1.75,1.0,2,2.0,2.0,3.00,9.00,7.0,1.00,5.00,0.75,9.00,10.50,60.25
42,88,2.00,3.0,1.00,2.00,1.0,2,2.0,2.0,3.00,15.00,10.0,2.00,8.00,3.00,25.00,15.00,96.00
52,91,2.00,2.0,1.00,2.00,1.0,2,2.0,2.0,3.00,5.00,10.0,0.00,5.50,2.00,17.00,10.00,66.50
92,92,1.75,3.0,1.50,0.25,1.0,2,0.0,2.0,0.00,9.00,4.5,0.50,1.25,0.50,0.00,0.00,27.25
45,93,2.00,3.0,2.00,1.50,1.0,2,2.0,2.0,3.00,3.00,6.0,0.00,0.00,1.50,24.00,13.00,66.00
54,94,2.00,3.0,1.00,2.00,1.0,2,2.0,2.0,3.00,15.00,8.5,2.00,9.00,2.00,25.00,13.00,92.50
55,95,2.00,3.0,1.00,0.50,1.0,2,0.0,2.0,3.00,15.00,8.0,0.00,0.00,0.00,10.00,5.00,52.50
47,98,2.00,3.0,1.00,2.00,1.0,2,2.0,2.0,3.00,13.00,10.0,2.00,4.00,1.50,10.00,8.00,66.50
99,99,1.75,2.5,0.00,0.00,1.0,2,0.0,2.0,1.50,1.00,1.5,0.00,0.00,0.00,0.00,0.00,13.25

Create a pass or fail indicator for the final grades:

In [156]:
df = final.copy()

In [157]:
df['pass_IND'] = (df['TOTAL\n(100 points)'] >= 60).astype(int)

In [158]:
df.head()

,Student ID,ES 1.1 \n(2 points),ES 1.2 \n(3 points),ES 2.1\n(2 points),ES 2.2\n(3 points),ES 3.1\n(1 points),ES 3.2\n(2 points),ES 3.3\n(2 points),ES 3.4\n(2 points),ES 3.5\n(3 points),ES 4.1\n(15 points),ES 4.2\n(10 points),ES 5.1\n(2 points),ES 5.2\n(10 points),ES 5.3\n(3 points),ES 6.1\n(25 points),ES 6.2\n(15 points),TOTAL\n(100 points),pass_IND
1,2,2.0,3.0,2.0,0.5,1.0,2,0.0,2.0,3.0,15.0,2.0,0.0,5.00,1.5,5.0,0.0,44.00,0
3,5,2.0,3.0,2.0,1.5,1.0,2,2.0,2.0,3.0,3.0,2.0,1.5,9.00,1.5,2.0,1.0,38.50,0
1,6,2.0,3.0,2.0,3.0,1.0,2,2.0,0.0,3.0,15.0,7.0,2.0,9.00,3.0,13.0,15.0,82.00,1
7,7,2.0,3.0,1.0,1.5,1.0,2,1.0,1.0,3.0,10.0,7.0,0.5,1.25,1.5,18.5,11.0,65.25,1
3,10,2.0,3.0,2.0,1.5,1.0,2,0.0,2.0,3.0,11.0,1.0,2.0,10.00,1.5,7.0,10.0,59.00,0

Now, we combine the intermediate grades data with final grades for exploratory data analysis and model building:

In [159]:
# Standardize the intermediate grades before joining:

from sklearn import preprocessing
inter_grades['se2'] = preprocessing.scale(inter_grades['Session 2'])
inter_grades['se3'] = preprocessing.scale(inter_grades['Session 3'])
inter_grades['se4'] = preprocessing.scale(inter_grades['Session 4'])
inter_grades['se5'] = preprocessing.scale(inter_grades['Session 5'])
inter_grades['se6'] = preprocessing.scale(inter_grades['Session 6'])
inter_grades.head()

,Student Id,Session 2,Session 3,Session 4,Session 5,Session 6,se2,se3,se4,se5,se6
0,1,5.0,0.0,4.5,4.0,2.25,1.013856,-1.387681,0.364976,0.655440,0.456479
1,2,4.0,3.5,4.5,4.0,1.00,0.534048,0.887438,0.364976,0.655440,-0.572837
2,3,3.5,3.5,4.5,4.0,0.00,0.294143,0.887438,0.364976,0.655440,-1.396290
3,4,6.0,4.0,5.0,3.5,2.75,1.493665,1.212455,0.692884,0.317433,0.868206
4,5,5.0,4.0,5.0,4.0,2.75,1.013856,1.212455,0.692884,0.655440,0.868206

Combine both dataset:

In [160]:
df_clean = pd.merge(inter_grades, df, how="inner", left_on="Student Id", right_on="Student ID")

# drop the duplicated column
df_clean.drop(['Student ID'], axis=1, inplace=True)

# rename columns
df_clean.rename(columns={"Student Id": 'ID', "TOTAL\n(100 points)": 'total'}, inplace=True)

pd.set_option('max_columns', 80)
df_clean.head()

,ID,Session 2,Session 3,Session 4,Session 5,Session 6,se2,se3,se4,se5,se6,ES 1.1 \n(2 points),ES 1.2 \n(3 points),ES 2.1\n(2 points),ES 2.2\n(3 points),ES 3.1\n(1 points),ES 3.2\n(2 points),ES 3.3\n(2 points),ES 3.4\n(2 points),ES 3.5\n(3 points),ES 4.1\n(15 points),ES 4.2\n(10 points),ES 5.1\n(2 points),ES 5.2\n(10 points),ES 5.3\n(3 points),ES 6.1\n(25 points),ES 6.2\n(15 points),total,pass_IND
0,2,4.0,3.5,4.5,4.0,1.00,0.534048,0.887438,0.364976,0.655440,-0.572837,2.0,3.0,2.0,0.5,1.0,2,0.0,2.0,3.0,15.0,2.0,0.0,5.00,1.5,5.0,0.0,44.00,0
1,5,5.0,4.0,5.0,4.0,2.75,1.013856,1.212455,0.692884,0.655440,0.868206,2.0,3.0,2.0,1.5,1.0,2,2.0,2.0,3.0,3.0,2.0,1.5,9.00,1.5,2.0,1.0,38.50,0
2,6,5.5,3.5,4.5,3.0,3.00,1.253760,0.887438,0.364976,-0.020574,1.074069,2.0,3.0,2.0,3.0,1.0,2,2.0,0.0,3.0,15.0,7.0,2.0,9.00,3.0,13.0,15.0,82.00,1
3,7,4.0,4.0,4.5,4.0,2.00,0.534048,1.212455,0.364976,0.655440,0.250616,2.0,3.0,1.0,1.5,1.0,2,1.0,1.0,3.0,10.0,7.0,0.5,1.25,1.5,18.5,11.0,65.25,1
4,10,5.0,4.0,4.5,4.0,3.00,1.013856,1.212455,0.364976,0.655440,1.074069,2.0,3.0,2.0,1.5,1.0,2,0.0,2.0,3.0,11.0,1.0,2.0,10.00,1.5,7.0,10.0,59.00,0

Save the clean dataset for further analysis:

In [161]:
df_clean.to_csv("epm_clean.csv", encoding='utf-8', index=False)

# Exploratory Data Analysis

# Classification

## Building Model

## Model Evaluation

# Clustering

# Process Mining

# Conclusions